//Location
.location {
  background: $colour-bg-location;
  -webkit-box-shadow: inset 0px 27px 15px -9px rgba(168, 168, 168, 0.2);
  box-shadow: inset 0px 27px 15px -9px rgba(168, 168, 168, 0.2);

  .location-city {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    input {
      text-decoration: none;
      border: none;
      font-size: 1.2rem;
      background: transparent;
      padding-left: 14px;
      text-align: center;
      width: 20%;
    }
  }
}

//Research
.research {
  padding: 40px 0;
  background: $colour-bg-gris;
  display: flex;
  flex-direction: column;
  align-items: center;

  .research-title {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    align-items: center;
  }

  h1 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  p {
    font-weight: 200;
    margin-bottom: 15px;
  }
}

//Functioning + step of functioning

.functioning {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 20px auto;
  align-items: flex-start;
  max-width: 1100px;

  .functioning-title {

    h2 {
      @include h2;
    }
  }
}

.container-step {
  width: 100%;

  @include responsiveTablet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.step {
  display: flex;
  background: $colour-bg-gris;
  padding: 30px;
  margin: 15px 0 15px 10px;
  border-radius: 25px;
  @include cards-shadow;
  position: relative;

  &:hover {
    background: $colour-step-hover;
    @include hover-cards;

    .step__awesome > span > i {
      color: $colour-step-awesome-active;
    }
  }

  &__number {
    position: absolute;
    left: -12px;
    top: 27px;
    background: $colour-primary;
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;

  }

  &__awesome {
    margin: 0 20px;
    color: $colour-font-awesome-gris;
  }
}


