footer {
  background: #353535;
}

.footer-wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1100px;
}

.footer-logo {
  padding-top: 10px ;

  svg {
    width: 100px;
  }
  path {
    fill: #fff;

  }
}

.footer-liste {
  padding-bottom: 15px;

  li {
    padding: 4px 0;
    a{
      color: #fff;
    }
  }
}
