header {
  position: relative;
  @include header-shadow;

  .arrow {
    position: absolute;
    left: 30px;

    .fas {
      font-size: rem(20);
      color: black;
    }
  }

  .header-logo {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}