
  .btn-primary{
    background-image: -webkit-linear-gradient(top, $colour-secondary, $colour-primary);
    border-radius: 50px;
    color: #FFFFFF;
    padding: 1rem 1.3rem;
    box-shadow: 1px 1px 9px 0 #000000;
    text-shadow: 6px 1px 20px #000000;
    cursor: pointer;
    border: transparent;
    &:hover{
      transform: scale(1.05);
      transition: 0.3s;
      background-image: -webkit-linear-gradient(top, $colour-secondary, $colour-primary);
      border-radius: 50px;
      text-decoration: none;

  }
}