
//Heart
.cards__heart {
  position: relative;
  display: flex;


  .fas {
    opacity: 0;
    transition-duration: 0.5s;
    @include heart-gradient;
  }

  input {
    width: rem(20);
    height: rem(20);
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  input:checked ~ .far {
    transition-duration: 0.5s;
    opacity: 0;
  }

  /*QUAND LA CHECKBOX EST CHECK*/
  input:checked ~ .fas {
    transition-duration: 0.5s;
    opacity: 1;
  }

  .fa-heart {
    font-size: rem(20);
  }

  i {
    position: absolute;
  }

}
