// Avec les lettres Accueil et Menu

@use "sass:math";

$num-letter: 8;
$anim-dur: 1000ms;
$anim-delay: math.div($anim-dur, $num-letter);

@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
.loadcontent {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  animation: loadinger linear .3s;
  animation-delay: 2.6s;
  animation-fill-mode: both;
}

.loading {
  z-index: 1;
  opacity: 1;

  &__letter {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 3rem;
    color: black;
    animation: loading 0.5s ease-in-out 3 both;
    animation-direction: alternate-reverse;

    @for $i from 1 through $num-letter {
      &--#{$i} {
        animation-delay: $anim-delay * $i;

        //Text grandient
        background: linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &--2 {
      padding-right: 5px;
    }

    &--4 {
      padding-right: 5px;
    }
  }
}

@keyframes loading {
  0% {
    transform: translateY(0);

  }
  100% {
    transform: translateY(30px);
  }
}


@keyframes loadinger {

  0% {
    opacity: 1;
    right: 0;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
    right: 100%;
  }
}

