/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.btn-primary {
  background: linear-gradient(160deg, #FF79DA 20%, #9356DC 100%);
  border-radius: 50px;
  color: #FFFFFF;
  padding: 1rem 1.3rem;
  -webkit-box-shadow: 1px 1px 9px 0 #000000;
  -moz-box-shadow: 1px 1px 9px 0 #000000;
  box-shadow: 1px 1px 9px 0 #000000;
  text-shadow: 6px 1px 20px #000000;
  cursor: pointer;
  border: transparent;
  transition: transform 0.3s ease-in, box-shadow 0.3s;
}
.btn-primary:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 9px 0 #000000;
  -moz-box-shadow: 1px 1px 9px 0 #000000;
  box-shadow: 3px 3px 10px 0 #000000;
  text-shadow: 6px 1px 20px #000000;
}
.btn-primary:hover::after {
  opacity: 1;
}
.btn-primary::after {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(160deg, #ff60d3 20%, #a674e2 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

main {
  background: #F6F6F6;
}

.cards-title-wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 1.25rem 0;
}

.cards-title > h2 {
  font-weight: 700;
  font-size: 1.375rem;
}

.cards {
  position: relative;
  margin: 1.25rem 0;
  -webkit-box-shadow: 9px 8px 19px 0 #00000042;
  -moz-box-shadow: 9px 8px 19px 0 #00000042;
  box-shadow: 9px 8px 19px 0 #00000042;
  border-radius: 15px 15px 15px 15px;
}
.cards:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
.cards__img {
  height: inherit;
}
.cards__img > img {
  height: 11.25rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards__new {
  position: absolute;
  color: gray;
  background: #99E2D0;
  font-weight: 300;
  padding: 5px;
  top: 15px;
  right: 15px;
}
.cards__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0.9375rem;
}
.cards h3 {
  font-weight: 700;
  margin-bottom: 5px;
}

.cards__heart {
  position: relative;
  display: flex;
  margin-right: 15px;
}
.cards__heart input {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 3;
  opacity: 0;
}
.cards__heart i {
  position: absolute;
}
.cards__heart .fa-heart {
  font-size: 1.25rem;
}
.cards__heart .fas {
  opacity: 0;
  transition: opacity 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  /*ON DEFINI UN BACKGROUND*/
  -webkit-background-clip: text;
  /*ON MET LE BACKGROUND SUR LE TEXTE*/
  -webkit-text-fill-color: transparent;
  /*POUR QUE LE BACKGROUND S'AFFICHE SUR LE TEXTE ON REND LE TEXTE TRANSPARENT*/
}
.cards__heart input:checked ~ .fas {
  opacity: 1;
  transition: opacity 0.5s;
}
.cards__heart input:checked ~ .far {
  opacity: 0;
  transition: opacity 0.5s;
}

.loadcontent {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.88);
  animation: loadinger 0.8s;
  animation-delay: 2.9s;
  animation-fill-mode: both;
}

.loading {
  z-index: 1;
  opacity: 1;
}
.loading__letter {
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 3rem;
  color: black;
  animation: loading 0.5s ease-in-out 3 both;
  animation-direction: alternate-reverse;
}
.loading__letter--1 {
  animation-delay: 125ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading__letter--2 {
  animation-delay: 250ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading__letter--3 {
  animation-delay: 375ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading__letter--4 {
  animation-delay: 500ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading__letter--5 {
  animation-delay: 625ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading__letter--6 {
  animation-delay: 750ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading__letter--7 {
  animation-delay: 875ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading__letter--8 {
  animation-delay: 1000ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading__letter--2 {
  padding-right: 5px;
}
.loading__letter--4 {
  padding-right: 5px;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes loadinger {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    z-index: -3;
    transform: translateY(-9999999);
  }
}
.location {
  background: #EAEAEA;
  -webkit-box-shadow: inset 0px 27px 15px -9px rgba(168, 168, 168, 0.2);
  box-shadow: inset 0px 27px 15px -9px rgba(168, 168, 168, 0.2);
}
.location .location-city {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.location .location-city p {
  margin-left: 10px;
}

.research {
  padding: 40px 0;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.research .research-title {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}
.research h1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.research p {
  font-weight: 200;
  margin-bottom: 15px;
}

.functioning {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 20px auto;
  align-items: flex-start;
}
.functioning .functioning-title h2 {
  font-weight: 700;
  font-size: 1.375rem;
}

.container-step {
  width: 100%;
}

.step {
  display: flex;
  background: #F6F6F6;
  padding: 30px;
  margin: 15px 0 15px 10px;
  border-radius: 25px;
  -webkit-box-shadow: 9px 8px 19px 0 #00000042;
  -moz-box-shadow: 9px 8px 19px 0 #00000042;
  box-shadow: 9px 8px 19px 0 #00000042;
  position: relative;
}
.step:hover {
  background: #F5EDFF;
  transform: scale(1.03);
  transition: 0.3s;
}
.step:hover .step__awesome > span > i {
  color: #9356DC;
}
.step__number {
  position: absolute;
  left: -3px;
  top: 27px;
  background: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}
.step__awesome {
  margin: 0 20px;
  color: #7E7E7E;
}

header {
  position: relative;
  -webkit-box-shadow: 0px 27px 15px -9px rgba(168, 168, 168, 0.2);
  box-shadow: 0px 27px 15px -9px rgba(168, 168, 168, 0.2);
}
header .arrow {
  position: absolute;
  left: 30px;
}
header .arrow .fas {
  font-size: 1.25rem;
}
header .header-logo {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: #353535;
}

.footer-wrapper {
  width: 85%;
  margin: 0 auto;
}

.footer-logo {
  padding-top: 10px;
}
.footer-logo svg {
  width: 100px;
}
.footer-logo path {
  fill: #fff;
}

.footer-liste {
  padding-bottom: 15px;
}
.footer-liste li {
  padding: 4px 0;
}
.footer-liste li a {
  color: #fff;
}

.page__header-image img {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}
.page__background {
  position: relative;
  margin: -4.0625rem 0 0 0;
  border-radius: 35px 45px 0 0;
  padding: 25px 0;
  background: #fff;
}
.page__menu-wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.menu__enter-menu {
  animation: menu-appears 1.8s 2.5s alternate backwards;
}
.menu__enter-menu > h3 {
  position: relative;
}
.menu__enter-menu > h3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #99E2D0;
  width: 2.5rem;
}
.menu__plat-menu {
  animation: menu-appears 1.8s 2.7s alternate backwards;
}
.menu__plat-menu > h3 {
  position: relative;
  padding-top: 25px;
}
.menu__plat-menu > h3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #99E2D0;
  width: 2.5rem;
}
.menu__desserts-menu {
  animation: menu-appears 1.8s 2.9s alternate backwards;
}
.menu__desserts-menu > h3 {
  position: relative;
  padding-top: 25px;
}
.menu__desserts-menu > h3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #99E2D0;
  width: 2.5rem;
}
.menu .button-wrap {
  animation: menu-appears 1.8s 3.1s alternate backwards;
  text-align: center;
  padding: 20px 0;
}
.menu .button-wrap .btn-primary {
  padding-right: 3.125rem;
  padding-left: 3.125rem;
}

@keyframes menu-appears {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container {
  position: relative;
  -webkit-box-shadow: 9px 8px 19px 0 #00000042;
  -moz-box-shadow: 9px 8px 19px 0 #00000042;
  box-shadow: 9px 8px 19px 0 #00000042;
  border-radius: 0.9375rem;
  overflow: hidden;
  max-width: 100%;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
}
.container:hover > .container__icon {
  margin-right: 0rem;
}
.container:hover > .container__icon i {
  transform: rotate(360deg);
}
.container__description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}
.container__text {
  width: 100%;
  margin-left: 1rem;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container__text > h3 {
  font-weight: 500;
  font-size: 1.125rem;
}
.container__price {
  margin-top: 1.6875rem;
  margin-right: 0.9375rem;
  max-width: 100%;
}
.container__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.6875rem;
  height: 100%;
  background: #99E2D0;
  transform-origin: right;
  margin-right: -4.6875rem;
  transition: 0.5s ease;
}
.container__icon > i {
  color: #99E2D0;
  padding: 0.3125rem;
  border-radius: 50%;
  background: white;
  transition: 0.5s ease;
}

* {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
