@mixin absolute-element($top, $right, $bottom ,$left ,$x, $y){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: translate($x , $y);
}

@mixin pseudo-elements-position ($content, $position, $top , $right, $bottom ,$left) {
  content: $content;
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin vertical-centre-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin heart-gradient{

  background: linear-gradient($colour-primary, $colour-secondary);/*ON DEFINI UN BACKGROUND*/

  //La propriété background-clip définit la façon dont l'arrière-plan d'un élément (que ce soit l'image ou la couleur) s'étend sous la boîte de bordure, la boîte de remplissage (padding) ou la boîte de contenu.
  -webkit-background-clip: text; /*ON MET LE BACKGROUND SUR LE TEXTE*/

  //La propriété -webkit-text-fill-color définit la couleur utilisée pour dessiner le contenu des lettres qui forment un texte. Si cette propriété n'est pas définie, c'est la valeur de la propriété color qui sera utilisée.
  -webkit-text-fill-color: transparent; /*POUR QUE LE BACKGROUND S'AFFICHE SUR LE TEXTE ON REND LE TEXTE TRANSPARENT*/
}


//--- A voir si on garde ----
// Car peut-etre fait en variable


@mixin cards-shadow {
  box-shadow: 9px 8px 19px 0 #00000042;
}

@mixin button-shadow{
  box-shadow: 1px 1px 9px 0 #000000;
  text-shadow: 6px 1px 20px #000000;
}

@mixin button-shadow-hover{
  box-shadow: 3px 3px 10px 0 #000000;
  text-shadow: 6px 1px 20px #000000;
}


@mixin header-shadow{
  box-shadow: 0px 27px 15px -9px rgba(168,168,168,0.2);
}

@mixin h1 {
  font-size: rem(24);
}

@mixin h2{
  font-weight: 700;
  font-size: rem(22);
}
@mixin h3{
  font-weight: 700;
}

@mixin new-on-cards{
  color: gray;
  background: #99E2D0;
  font-weight: 300;
}

@mixin hover-cards{
  transform: scale(1.03);
  transition: .3s;
}