// Couleurs
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiaire: #99E2D0;

$colour-bg-location: #EAEAEA;
$colour-bg-gris : #F6F6F6;
$colour-font-awesome-gris: #7E7E7E;
$colour-step-hover: #F5EDFF;
$colour-step-awesome-active: #9356DC;



