// Couleurs
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiaire: #99E2D0;

$colour-bg-location: #EAEAEA;
$colour-bg-gris : #F6F6F6;
$colour-font-awesome-gris: #7E7E7E;
$colour-step-hover: #F5EDFF;
$colour-step-awesome-active: #9356DC;


//shadow
$cards-shadow : 9px 8px 19px 0 #00000042;

//Background
$button-gradient: linear-gradient(160deg, $colour-secondary 20%, $colour-primary 100%);
$button-gradient-hover: linear-gradient(160deg, darken($colour-secondary, 5) 20%, lighten($colour-primary, 7) 100%);
